.header__nav{
    display: flex;
    overflow: hidden;
}

.header__logo
,.header__menu-mobile{
    flex: 1;
    display: flex;
    padding: 20px;
    align-items: center;
    position: relative;
}

.header__logo-overlay{
    position: absolute;
    width: 100%;
    inset: 0;
    background-color: var(--primary-color);
}

.header__logo h4{
    font-family: var(--playfair-display);
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    opacity: .8;
    z-index: 1;
    padding-left: 30px;
}

.header__menu,
.header__menu-mobile{ 
    flex: 1.235;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 64px;
    padding: 1.25rem;
    list-style: none;
}

.header__menu li{
    font-family: var(--plus-jakarta-sans);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25rem;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--secondary-color);
}

.header__menu li img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.header__menu-mobile {
    display: none;
    gap: 20px;
    position: relative;
}

.mobile-menu__search-bar{
    margin-block: 1rem;
    background-color: #fcfcfc23;
    padding: .5rem .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    border-radius: .5rem;
}

.mobile-menu__search-bar input{
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: var(--plus-jakarta-sans);
    background-color: transparent;
    color: #fff;
}

@media only screen and (max-width:900px) {
    .overlay--deactive{
        display: none;/*none*/
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: #000;
        opacity: .65;
    }
    
    .overlay--active{
        display: block;
        position: fixed;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        background: #000;
        opacity: .65;
        transition: all .3s ease;
    }
    
    .header__mobile-menu--deactive{
        position: fixed;
        inset: 0;
        display: block;
        left: -682px;
        width: 275px;
        height: 100vh;
        z-index: 20;
        background: var(--mobile-menu-color);
        transition: all .3s ease;
        padding: 1rem;
    }
    
    .header__mobile-menu--active{
        position: fixed;
        inset: 0;
        display: block;
        width: 275px;
        height: 100vh;
        z-index: 20;
        background: var(--mobile-menu-color);
        transition: all .3s ease;
        padding: 1rem;
    }
    
    .mobile-menu__header{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
        border-bottom: 1px solid #c0b0b0;
    }
    
    .mobile-menu__header h4{
        color: white;
        font-size: 21px;
        font-family: var(--playfair-display);
    }
    
    .mobile-menu__close-btn{
        color: white;
        width: 24px;
        height: 24px;
    }
    
    .mobile-menu__links{
        margin: 1rem 0 1rem 0 ;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        color: #fff;
        font-family: var(--plus-jakarta-sans);
        font-size: 1.5rem;
    }
}

@media only screen and (max-width:1045px) {
    .header__menu li {
        font-size: 14px;
    }
}

@media only screen and (max-width:995px) {
    .header__menu li {
        font-size: 14px;
    }
    .header__menu{
        gap: 40px;
    }

    .subscription__desc {
        text-align: center;
    }
}

@media screen and (max-width : 320px) {
    .header__mobile-menu--deactive,
    .header__mobile-menu--active{
        width: 100%;
    }
}